Source: python-libnacl
Section: python
Priority: optional
Maintainer: Debian Python Team <team+python@tracker.debian.org>
Uploaders: Colin Watson <cjwatson@debian.org>
Build-Depends: debhelper-compat (= 9),
               dh-python,
               libsodium-dev (>= 1.0.15),
               pkg-config,
               python3 (>= 3.1.2-8~),
               python3-all,
               python3-nose,
               python3-setuptools,
Standards-Version: 4.1.1
Vcs-Git: https://salsa.debian.org/python-team/packages/python-libnacl.git
Vcs-Browser: https://salsa.debian.org/python-team/packages/python-libnacl
Homepage: https://libnacl.readthedocs.io/
Rules-Requires-Root: no

Package: python3-libnacl
Architecture: all
Multi-Arch: foreign
Depends: ${libsodium:Depends},
         ${misc:Depends},
         ${python3:Depends}
Breaks: python3-duniterpy (<< 0.60.1)
Description: Python 3 bindings for libsodium based on ctypes
 This library is used to gain direct access to the functions exposed by
 Daniel J. Bernstein's nacl library via libsodium.  It has been constructed
 to maintain extensive documentation on how to use nacl as well as being
 completely portable.
 .
 This library is unrelated to Native Client (NaCl), the sandbox used in
 Chromium.
